

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .hidden{
    display: none;
 }
 
 body {
                 padding-top: 50px;
                 padding-bottom: 20px;
             }
 

.header{
    display: inline-flex;
    font-weight: bold;
    font-size: xx-large;
}
ul{
   list-style: none; 
}